<div class="content">
  <div id="admin_services-list">
    <h3>Services Admin <%= link_to "New", new_admin_service_path, class: "btn btn-primary" %></h3>
    <table class="table">
      <thead>
      <th>
        Service Name
      </th>
      <th>
        Service Rate
      </th>
      <th>

      </th>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.display_name %></td>
          <td>$<%= service.rate %></td>
          <td>
            <span class="table-options"><%= link_to "Edit", edit_admin_service_path(service), id: "edit_#{service.id}" %></span>
            <span class="table-options"><%= link_to "Delete", admin_service_path(service), method: :delete, id: "delete_#{service.id}" %></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
