<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= image_tag asset_path("thct-logo"), id: "logo" %>
  <a class="navbar-brand" href="<%= root_path %>", id="companyname"">The Heavenly Clean Team</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div>
      <%= link_to "Home", root_path, class: "btn thct-btn-dark" %>
      <%= link_to "About", root_path, class: "btn thct-btn-light" %>
      <%= link_to "Services", root_path, class: "btn thct-btn-light" %>
      <%= link_to "Get a Quote!", root_path, class: "btn thct-btn-light" %>
    </div>

  </div>
</nav>