<!DOCTYPE html>
<html>
  <head>
    <title>Heavenlycleanteam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/be817df446.js"></script>
  </head>

  <body>
  <section class="container">
    <%= admin_nav %>
    <%= render 'shared/navbar' %>
    <div class="row" id="carousel">
      <div class="col-md-12">
        <%= render 'shared/carousel' %>
      </div>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </section>

    <%= js add_gritter(flash[:notice], title: "Timesheets App Notification", sticky: false, image: :notice) %>
  </body>
</html>
