<!DOCTYPE html>
<html>
  <head>
    <title>Heavenlycleanteam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="container">
    <%= render 'shared/navbar' %>
    <div class="row" id="carousel">
      <div class="col-md-12">
        <%= render 'shared/carousel' %>
      </div>
    </div>
    <%= yield %>
  </section>
    <%= js add_gritter(flash[:notice], title: "Timesheets App Notification", sticky: false, image: :notice) %>
  </body>
</html>
